body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    border-bottom: 2px solid #555;
    transition: background-color 0.3s;
}

.casa-tab {
    flex: 0.4
}

.tab:hover {
    background-color: #555;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;
}

.tab-content.active {
    display: block;
}

.tab img {
    width: 25px;
    height: 25px;
}
