.map-container {
    display: flex;
    flex-direction: column;
}

.map-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.mapa {
    height: 500px;
    width: 500px;
    margin-right: 20px; /* Adjust the margin as needed */
}

.map-text {
    margin-top: 10px; /* Adjust the margin as needed */
}
